[user]
  name = Igor Sobreira
  email = igor@igorsobreira.com

[merge]
  tool = opendiff

[color]
  mbranch = auto
  diff = auto
  interactive = auto
  status = auto

[alias]
  st = status --short
  cm = commit -m
  llg = log --graph --color --decorate --date-order --stat
  lg  = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset%s %C(blue)%an, %ar' --date-order
  lga = log --graph --color --pretty='format:%C(yellow)%h%C(cyan)%d %Creset%s %C(blue)%an, %ar' --date-order --all
  co = checkout
  cp = cherry-pick

[core]
  excludesfile = ~/.gitignore
